# Ignorowanie plików binarnych modułów
*.o
*.ko
*.mod
*.mod.c
*.symvers
*.order
*.order.cmd
*.ko.cmd
*.o.cmd


# Ignorowanie katalogów build
*.tmp_versions/

# Pliki tymczasowe generowane przez edytory
*.swp
*.swo
*~
*.bak

# Logi i pliki śmieci
*.log
*.out
*.dmesg

# Ignorowanie Makefile'ów generowanych dynamicznie
Makefile~
Module.symvers
modules.order

# Ignorowanie backupów
*.old
*.orig
*.cmd

